.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.team-img {
  border-radius: 50%;
  margin-right: 50px;
}

.div-plots{
  position:relative;
  height: 500px;
}

.plots-plotly{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#id_sentence, #id_text_overlay {
  margin-right: 20px;
  margin-left: 20px;
}

.carousel {
  width:  256px;
  height: 256px;
}

.centering-div {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.centered-element{
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  color: black;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}