.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.team-img {
  border-radius: 50%;
  margin-right: 50px;
}

.div-plots{
  position:relative;
  height: 500px;
}

.plots-plotly{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#id_sentence {
  margin-left: 20px;
}