{% extends "base_generic.html" %}

{% block content %}
  <h1>Data Story: Le Sida dans le monde</h1>
  <p>Premier graphique</p>

  <div class="div-plots">
    <iframe class="plots-plotly" frameborder="0" scrolling="no" src="//plotly.com/~izadeelvin99/24.embed?height=500"></iframe>    
  </div>

  <p>Second graphique</p>

  <div class="div-plots">
    <iframe class="plots-plotly" frameborder="0" scrolling="no" src="//plotly.com/~izadeelvin99/24.embed?height=500"></iframe>
  </div>

  <p>Troisième graphique</p>

  <div class="div-plots">
    <iframe class="plots-plotly" frameborder="0" scrolling="no" src="//plotly.com/~izadeelvin99/32.embed?height=500"></iframe>
  </div>

  <p>Quatrième graphique</p>

  <div class="div-plots">
    <iframe class="plots-plotly" frameborder="0" scrolling="no" src="//plotly.com/~izadeelvin99/46.embed?height=500"></iframe>
  </div>

  <p>5ème graphique</p>

  <div class="div-plots">
    <iframe class="plots-plotly" frameborder="0" scrolling="no" src="//plotly.com/~izadeelvin99/44.embed?height=500"></iframe>
  </div>

{% endblock %}
